body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.table-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.table-row {
  display: flex;
  padding: 5px;
  border: 5px solid black;
}

.table-column {
  border: 5px solid red;
}
